html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

.buttonpress {
    box-shadow: 0px 0px !important;
}

.celsius-in {
    animation-name: celsius-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.celsius-out {
    animation-name: celsius-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fahrenheit-in {
    animation-name: fahrenheit-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fahrenheit-out {
    animation-name: fahrenheit-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.overmap {
    position: absolute;
    z-index: 1;
}

.temp-small {
    position: static;
    border-radius: 50%;
    border-color: #007aff;
    background-color: #007aff;
    box-shadow: 0px 4px 10px #888888;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    margin-left: 75%;
    height: 10vw;
    width: 10vw;
    transition: box-shadow 0.3s ease-in-out;
}

#celsius {
    z-index: 0.8;
}

#city-search {
    border-radius: 10px;
    font-size: 1.5rem;
    width: 100%;
}

#fahrenheit {
    z-index: 0.9;
}

#map-canvas { 
    height: 100%;
    z-index: 0.5;
}

#searchbar {
    width: 100%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 5% 80% 15%;
}

#temp {
    border-radius: 50%;
    border-color: #007aff;
    background-color: #007aff;
    box-shadow: 0px 4px 10px #888888;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    padding-right: 10%;
    margin-left: 75%;
    height: 20vw;
    width: 20vw;
    transition: box-shadow 0.3s ease-in-out;
}

#tempbutton {
    bottom: 10%;
    width: 100%;
}

@keyframes celsius-out {
    from { margin-left: 75%; }
    to { margin-left: 30%; }
}

@keyframes celsius-in {
    from { margin-left: 30%; }
    to { margin-left: 75%; }
}

@keyframes fahrenheit-out {
    from { margin-left: 75%; }
    to { margin-left: 50%; }
}

@keyframes fahrenheit-in {
    from { margin-left: 50%; }
    to { margin-left: 75%; }
}